form { max-width:380px; 
    margin:150px auto; 
    font-family: 'Poppins', sans-serif;
}
.contact-name{
    margin-bottom: 5px;
    text-align: center;
}
.feedback-input {
  font-family: 'Poppins', sans-serif;
  color:var(--text-color);
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:3px solid;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:3px solid #047ff2; }

textarea {
  height: 120px;
  line-height: 150%;
  resize:vertical;
}
.mail{
   display: flex;
}
.mail p{
    padding-right: 5px;
}
.mail a{
    /* text-decoration: none; */
    color: #047ff2;
}
[type="submit"] {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  background:#000000;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#00519e; }

@media screen and (max-width:425px) {
    form { max-width:280px; }
}
@media screen and (max-width:280px) {
    form { max-width:250px; }
}